<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @class_task.start_time %>
</p>

<%= link_to 'Edit', edit_class_task_path(@class_task) %> |
<%= link_to 'Back', class_tasks_path %>
