
<p>Find me in app/views/homes/top.html.erb</p>
<div class ="container" style="margin-top: 30px;">
  <%= month_calendar events: @class_task do |date| %>
    <%= link_to public_class_task_path(date) do %>
      <div class="date-day">
         <%= date.day %><br>
          <% TaskContent.where(task_times: date).each do |f| %>
            <%= f.name %>
          <% end %>
      </div class="seet-count">
      <% end %>
  <% end %>
</div>