<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>
<%= flash[:notice] %>
<%= current_user.name %>



<% @tasks.each do |cart| %>
	<%= cart.class_task.name %>$</td>
	<% end %>